{% load static %}
<!DOCTYPE html>
<html lang="kk">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static "assets/document.png" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
              <a class="navbar-brand px-5" href="{% url 'main' %}">
                  <img src="{% static "assets/rubber-duck-beta.png" %}" width="84px" height="auto" alt="">
              </a>
              <div class="justify-content-end">
                <form class="d-flex" action="{% url 'search' %}" method="get">
                    <input class="form-control" type="search" placeholder="Іздеу..." size="50px" name="q">
                    <div class="btn-group" role="group">
                        <button class="btn btn-secondary" hidden="true"></button>
                        <button class="btn btn-secondary" type="submit"><img src="{% static "assets/search.svg" %}" width="26px" height="auto" alt=""></button>
                    </div>
                </form>
              </div>  
              </div>
            </div>
          </nav>
          {% block content %}
          
          {% endblock content %}
        <!-- Footer-->
        <footer class="footer mt-4 mb-4">
            <div class="container">
                <p class="m-0 p-3 text-center">site is under construction</p>
                <img src="{% static 'assets/coder.gif' %}" width="122px" alt="" style="display: block; margin-left: auto; margin-right: auto;">
                <p class="p-3 text-center">&copy; ReferDuck 2021</p>
            </div>
        </footer>
    </body>
</html>
