{% extends 'website/base.html' %}

{% block title %} Қазақша рефераттар {% endblock title %}

    {% block content %}
        <header class="pt-5">
            <div class="container">
                <div class="p-4 p-lg-5 rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-6 fw-bold">Қазақ тіліндегі рефераттар, курстық және дипломдық жұмыстар!</h1>
                    </div>
                </div>
            </div>
        </header>
        <section class="p-4 p-lg-5 text-center">
            <div class="container">
                <div class="header">
                    <div class="d-flex justify-content-center">
                        <h4>Пәндер</h4>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    {% for category in object_list %}
                    <div class="col-lg-4 col-md-6">
                        <a href="{{ category.get_absolute_url }}">
                            <h5>{{ category.name }}</h5>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    {% endblock content %}
