body{
    color: #3e4e80;
}

.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input.form-control{
    border-radius: 50rem;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}


